<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- TODO: permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android_Java_Tutorial"
        tools:targetApi="31">

        <!-- * android:exported="true"  -> để chỉ định liệu một thành phần (như Activity, Service hoặc BroadcastReceiver) có thể được gọi từ các ứng dụng khác hay không. -->
        <!-- * lưu ý: sử dụng Activity nào thì phải cấu hình vào  manifest nếu không cấu hình mà call thì bị báo lỗi -->
        <!-- * sử dụng Service nào thì phải cấu hình vào  manifest nếu không cấu hình mà call Service thì app vẫn chạy bth nhưng service sẽ không khởi tạo và không sử dụng được Service đó -->
        <!-- * class extent Fragment thì không cần khai báo trong manifest -->
        <!-- TODO: active -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Intent.FirstScreenActivity" />
        <activity android:name=".Intent.SecondScreenActivity" />
        <activity android:name=".fragment.FragmentActivity" />
        <activity
            android:name=".fragment.BackstackFragmentActivity"
            android:exported="false" />
        <activity
            android:name=".ListView.ListViewActivity"
            android:exported="false" />
        <activity
            android:name=".RecyclerView.RecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".Animation.AnimationActivity"
            android:exported="false" />
        <activity
            android:name=".WebApiJson.WebApiActivity"
            android:exported="false" />
        <activity
            android:name=".SharedPreferences.SharedPreferenceActivity"
            android:exported="false" />

        <!-- TODO: service -->
        <service android:name=".service.ServiceExample" />
    </application>

</manifest>